body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgb(148, 53, 156), rgb(49, 49, 146));
}

.left,
.right {
  border-radius: 5px;
  background-image: linear-gradient(rgb(30, 200, 166), rgb(148, 53, 156));
  height: 35%;
  width: 12%;
  border: 1px solid rgba(0, 255, 162, 0.42);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p>.date,.month {
  text-decoration: none;
  text-align: center;
  border: 1px solid red;
  margin-top: 150px;
}
